@model Vidly.Models.MembershipType

@{
    ViewBag.Title = "Index";
}


<ul>
      <li>
            @Model.Id
        </li>
        <li>
            @Model.SignupFee
        </li>
        <li>
            @Model.Discount
        </li>
        <li>
            @Model.DurationInMonth
        </li>
    
</ul>


